@font-face {
    font-family: 'UpstairsCVJMgraff';
    src: url('UpstairsCVJMgraff.ttf');
}
@font-face {
    font-family: 'Surgarpunch DEMO';
    src: url('sugarpunch.ttf');
}
.unknow {
    font-size: 3.125rem;
    text-align: center;
    font-family: 'Surgarpunch DEMO', Serif;
    color: maroon;
}
.img{
    height: 400px; width: 400px;
}
.game {
    text-align: center;
}

input {
    text-align: center;
}

.container {
    text-align: center;
}

.alert {
    margin: auto;

}
#message {
    height: 9.375rem;
    display: flex;
}
p.carefull {
    font-size: 1rem;
    color: orangered;
}

.choose {
    font-family: 'Surgarpunch DEMO', Serif;
    color: white;
    font-size: 6.25rem
}
.acceuil{
    font-family: 'Surgarpunch DEMO', Serif;
    color: red;
    font-size: 6.25rem
}
.find {
    font-family: 'Surgarpunch DEMO', Serif;
    color: darkmagenta;
    font-size: 6.25rem
}
.random  {
    font-family: 'Surgarpunch DEMO', Serif;
    color: #F55645;
    font-size: 6.25rem
}
.replay {
    font-family: 'Surgarpunch DEMO', Serif;
    color: darkmagenta;
    font-size: 3.125rem
}
#lastTry {
    font-family: 'Surgarpunch DEMO', Serif;
    color: darkmagenta;
    font-size: 3.125rem
}
 @media screen and (max-width: 640px) {
     .forPhone{
         font-size: 2rem;
     }
     #lastTry{
         font-size: 1.4rem;
     }
     #saisie{
         width: 230px;
     }
     .imgMobile{
         width: 100px;
         height: 100px;
     }
 }

